@charset "UTF-8";

/* TODAS as demais mídias */

/* 
Typical Device Breakpoints (sempre fazer buscas para pegar valores mais atualizados)
----------------------------
Pequenas telas: até 600px
Celuar: de 600px até 767px
Tablet: de 768px até 1023px
Desktop: de 1024px até 1200px
Grandes telas: acima de 1200px
*/

@media print { /* Impressoras (não tem como imprimir background de site) */
    *{
        font-family: 'Courier New', Courier, monospace;
    }

    body {
        background-image: url(../imagens/back-print.jpg); /*desnecessário*/
    }

    main {
        border: 2px solid black;
        width: 90vw;
    }

    main::after {
        content: 'Essa impressão foi feita através do site www.corsoemvideo.com';
        text-decoration: overline; /*overline: linha em cima*/
    }

    main h1 {
        text-shadow: none;
        color: black;
    }

    #phone {display: none;}
    #tablet {display: none;}
    #print {display: block;}
    #pc {display: none;}
    #tv {display: none;}
}

@media screen and (min-width: 768px) and (max-width: 992px) { /* Tablet */
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    #phone {display: none;}
    #tablet {display: block;}
    #print {display: none;}
    #pc {display: none;}
    #tv {display: none;}
}

@media screen and (min-width: 992px) and (max-width: 1200px) { /* Desktop */
   body {
        background-image: url(../imagens/back-pc.jpg);
   } 

    #phone {display: none;}
    #tablet {display: none;}
    #print {display: none;}
    #pc {display: block;}
    #tv {display: none;}
}

@media screen and (min-width: 1200px) { /* Grandes Telas */
    body{
        background-image: url(../imagens/back-tv.jpg);
    }

    #phone {display: none;}
    #tablet {display: none;}
    #print {display: none;}
    #pc {display: none;}
    #tv {display: block;}
}